<ng-template #filterguitarbycolor let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Filter guitars by color</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" [formControl]="colorControl" class="form-control" id="color" name="color" placeholder="Color to filter by...">
      </div>
    </form>
	</div>

	<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="onFilterClick()">Filter</button>
    <button type="submit" class="btn btn-light" (click)="resetGuitars()">Reset</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Cancel clicked')">Cancel</button>
	</div>
</ng-template>

<a (click)="open(filterguitarbycolor)"><div class="icon-text"><div [ngClass]="filterByColorIcon()"></div><span>Color</span></div></a>
