@media (min-width: 320px) and (max-width: 480px) {
  .guitars-container {
    height: 90vh;
    height: 90svh;
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior: none;
    scroll-snap-align: start;
    background-image: url('../../../assets/guitar.svg');
    background-size: 40%;
    background-color: white;
  }

  .no-guitars-card {
    margin-top: 10vh;
    padding: 1rem;
  }

  .no-access {
    height: 90vh;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .guitars-container {
    height: 90vh;
    width: 40vw;
    overflow-y: scroll;
    overscroll-behavior: none;
    scroll-snap-align: start;
    background-image: url('../../../assets/guitar.svg');
    background-size: 40%;
    background-color: white;
  }

  .no-guitars-card {
    margin-top: 10vh;
    padding: 1rem;
  }

  .no-access {
    height: 90vh;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .guitars-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior: none;
    background-color: white;
    border-bottom-left-radius: 10px;
    background-image: url('../../../assets/guitar.svg');
    background-size: 40%;
    background-color: white;
  }

  .no-guitars-card {
    margin-top: 10vh;
    padding: 1rem;
  }

  .no-access {
    height: 90vh;
    width: 100%;
  }

  :host {
    width: 50%;
  }
}
