<div *ngIf="hasRoute('guitars')">
<div *ngIf="userIsLoggedIn" class="guitars-container">
  <app-guitar-top-nav [userHasGuitars]="guitarsListEmpty()"></app-guitar-top-nav>
  <div class="no-guitars-card" *ngIf="guitars.length === 0">
    <h1>No guitars!</h1>
    <p>Get your collection started by clicking the icon on the top left!</p>
  </div>
  <ng-container *ngFor="let g of guitars; first as isFirst">
    <app-guitar-detail *ngIf="g.id > 0" [isFirstGuitar]="isFirst" [guitar]="g"></app-guitar-detail>
    <!-- <app-guitar-detail *ngIf="g.id > 0 && pictures.length > 0" [isFirstGuitar]="isFirst" [guitar]="g"></app-guitar-detail> -->
  </ng-container>
</div>
</div>


