.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

p {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  p {
    font-size: .8rem;
  }
}
