.desktop-container {
  height: 100dvh;
  width: 100dvw;
  background-image: url('../../../assets/topography.svg');
}

.logo-and-logout {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 10vh;
}

.logo-and-logout > img {
  margin-left: auto;
  height: 100%;
}

.desktop-card-container {
  border-radius: 10px;
  margin: 0 auto 5vh;
  max-height: 85vh;
  width: 80%;
  display: flex;
  filter: drop-shadow(5px 5px 4px #BFBFBF);
}

.logout-icon {
  /* display: inline-block; */
  display: flex;
  align-items: center; /* Vertically center the content */
  height: 32px;
  width: 32px;
  margin-right: auto;
  cursor: pointer;
  padding: 5px;
  filter: drop-shadow(5px 5px 4px #BFBFBF);
  background-color: #519988;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  vertical-align: middle; /* Align the inline SVG vertically */
}

.logout-icon svg {
  width: 100%;
  height: 100%;
  fill: black;
  transition: fill 0.2s ease-in-out;
}

.logout-icon:hover svg {
  fill: white;
}
