@media (min-width: 320px) and (max-width: 480px) {
  .setups-container {
    height: 90vh;
    width: 100%;
    background-color: lightcoral;
    overflow-y: scroll;
    overscroll-behavior: none;
    /* scroll-snap-align: start; */
  }

  .setup-container {
    background-color: lemonchiffon;
    height: 100%;
    width: 100%;
  }

  .setup-container:nth-child(even) {
    background-color: cornflowerblue;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .setups-container {
    height: 90vh;
    width: 100%;
    background-color: lightcoral;
    overflow-y: scroll;
    overscroll-behavior: none;
    /* scroll-snap-align: start; */
  }

  .setup-container {
    background-color: lemonchiffon;
    height: 100%;
    width: 100%;
  }

  .setup-container:nth-child(even) {
    background-color: cornflowerblue;
  }
}

@media (min-width: 1280px) {
  .setups-container {
    height: 100%;
    min-width: 100%;
    background-color: lightcoral;
    overflow-y: scroll;
    overscroll-behavior: none;
    /* scroll-snap-align: start; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .setup-container {
    background-color: lemonchiffon;
    height: 100%;
    width: 100%;
  }

  .setup-container:nth-child(even) {
    background-color: cornflowerblue;
  }

  :host {
    width: 50%;
  }
}
