.setups-container {
  height: 90vh;
  width: 100%;
  background-color: lightcoral;
  overflow-y: scroll;
  overscroll-behavior: none;
  /* scroll-snap-align: start; */
}

.setup-container {
  background-color: lemonchiffon;
  height: 100%;
  width: 100%;
}

.setup-container:nth-child(even) {
  background-color: cornflowerblue;
}
