<ng-template #addsetup let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Setup</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="container">
    <form class="col" [formGroup]="setupForm" (ngSubmit)="onAddClick()">
      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-4">
          <span class="input-group-text">Guitar</span>
        </div>
        <select formControlName="guitarControl" aria-label="Guitar" class="form-control" name="guitar"
        [(ngModel)]="selectedGuitar">
          <option *ngFor="let g of guitars" [ngValue]="g.id">{{ g.make }} {{ g.model }}</option>
        </select>
      </div>

      <div *ngIf="stringGauge?.invalid && (stringGauge?.dirty || stringGauge?.touched)" class="alert alert-danger">
        <div *ngIf="stringGauge?.errors?.['required']">
          String gauge is required.
        </div>
      </div>

      <div *ngIf="dateOfSetup?.invalid && (dateOfSetup?.dirty || dateOfSetup?.touched)" class="alert alert-danger">
        <div *ngIf="dateOfSetup?.errors?.['required']">
          Date of setup is required.
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" type="submit" [disabled]="!setupForm.valid">Add</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Cancel clicked')">Cancel</button>
      </div>
    </form>
    </div>
  </div>

</ng-template>

<a (click)="open(addsetup)"><div [ngClass]="addSetupIcon()"></div></a>
