@media (min-width: 1280px) {
  .setup-container {
    height: 10vh;
    display: flex;
    cursor: pointer;
  }

  .accordion-icon {
    width: 10vh;
  }

  .accordion-icon::after {
    content: '\002B';
    color: #995186;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .active:after {
    width: 10vh;
    content: "\2212";
    color: #995186;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .setup-title {
    display: flex;
    align-items: top;
    height: 100%;
  }

  .make-model {
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .make-model h4 {
    height: fit-content;
  }

  .make-model h5 {
    height: fit-content;
  }

  .date-tuning-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .date h6 {
    height: fit-content;
  }

  .tuning p {
    margin: 0;
    width: fit-content;
  }

  .showCard {
    display: block;
    height: 30vh;
    background-color: chocolate;
  }

  .hideCard {
    display: none;
  }
}
