<div class="setup-container" (click)="toggleSetupCard()">
    <div [ngClass]="{'accordion-icon active': cardShowing, 'accordion-icon': !cardShowing}"></div>
    <div class="setup-title">
      <div class="make-model"><h4>{{ setup.guitar.make }}</h4><h5>{{ setup.guitar.model }}</h5></div>
      <div class="date-tuning-container">
        <div class="date"><h6>{{ setup.dateOfSetup | date:'longDate'}}</h6></div>
        <div class="tuning"><p>{{ setup.tuning.name }}</p></div>
      </div>
    </div>
  </div>
  <div class="setup-info" [ngClass]="{'showCard': cardShowing, 'hideCard': !cardShowing}">
    <div class="actionTreble"><h5>Action treble: </h5><p><strong>{{ setup.actionTreble }}</strong>/64"</p></div>
    <div class="actionBass"><h5>Action bass: </h5><p><strong>{{ setup.actionBass }}</strong>/64"</p></div>
    <div class="stringGauge"><h5>String gauge: </h5><p>{{ setup.stringGauge }}</p></div>
    <div class="stringBrand"><h5>String brand: </h5><p>{{ setup.stringBrand }}</p></div>
    <div class="notes"><h5>Notes</h5><p>{{ setup.notes }}</p></div>
    <div class="icons"></div>
  </div>
