* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    /* height: 100dvh; */
    overscroll-behavior: none;
    overflow: hidden;
    /* height: -webkit-fill-available; */
    height: 100%;
}

body {
    /* min-height: 100dvh; */
    overflow: hidden;
    /* min-height: -webkit-fill-available; */
    min-height: 100%;
}
