* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100%;
    height: -webkit-fill-available;
}

body {
    overflow: hidden;
    min-height: 100%;
    min-height: -webkit-fill-available;
}

/* :host {
  height: 100%;
} */
