/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

app-root {
  display: block;
  height: 100dvh;
}

html {
    height: 100dvh;
    overscroll-behavior: none;
    overflow: hidden;
}

body {
    min-height: 100dvh;
    overflow: hidden;
}
