@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media (min-width: 320px) and (max-width: 480px) {
  .icon-text {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 10vh;
  }

  .icon-text > span {
    font-size: .75rem;
    /* background-color: aqua; */
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
  }

  .sort-setups-icon-deselected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath d='M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
    width: 10vh;
    cursor: pointer;
  }

  .sort-setups-icon-selected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath d='M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
    width: 10vh;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .icon-text {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 10vh;
  }

  .icon-text > span {
    font-size: 1rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
  }

  .sort-setups-icon-deselected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='48' height='48'%3E%3Cpath d='M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
    width: 10vh;
    cursor: pointer;
  }

  .sort-setups-icon-selected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='48' height='48'%3E%3Cpath d='M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
    width: 10vh;
    cursor: pointer;
  }
}

@media (min-width: 1280px) {
  .icon-text {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 10vh;
  }

  .icon-text > span {
    font-size: 1rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
  }

  .sort-setups-icon-deselected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='48' height='48'%3E%3Cpath d='M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
    width: 10vh;
    cursor: pointer;
  }

  .sort-setups-icon-selected {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='48' height='48'%3E%3Cpath d='M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
    width: 10vh;
    cursor: pointer;
  }
}
