<ng-template #login let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Log in</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmitClick()">
      <div class="form-group">
        <label for="username">Username</label>
        <input required formControlName="loginUsername" type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>

      <div *ngIf="loginUsername?.invalid && (loginUsername?.dirty || loginUsername?.touched)" class="alert alert-danger">
        <div *ngIf="loginUsername?.errors?.['required']">
          Username is required.
        </div>
      </div>

      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input required formControlName="loginPassword" type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>

      <div *ngIf="loginPassword?.invalid && (loginPassword?.dirty || loginPassword?.touched)" class="alert alert-danger">
        <div *ngIf="loginPassword?.errors?.['required']">
          Password is required.
        </div>
      </div>
		</form>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <br>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            I want to...
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Log in</button>
            <button ngbDropdownItem (click)="onRegisterClick(register)">Register</button>
          </div>
        </div>
      </div>
    </div>
	</div>

	<div class="modal-footer">
    <span class="d-block p-2 bg-success text-white">sally/1234 to try it out!</span>
		<button type="button" class="btn btn-outline-dark" (click)="onSubmitClick()" [disabled]="!loginForm.valid">Submit</button>
	</div>
</ng-template>

<ng-template #register let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Register a new account</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
		</form>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <br>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            I want to...
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="onLoginClick(login)">Log in</button>
            <button ngbDropdownItem>Register</button>
          </div>
        </div>
      </div>
    </div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="onSubmitClick()">Submit</button>
	</div>
</ng-template>

<a (click)="open(login)"><div [ngClass]="loginIcon()"></div></a>
