<ng-template #updateguitar let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit Guitar</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="container">
    <form class="col">
      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-4">
          <span class="input-group-text" id="basic-addon1">Make</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="guitarToUpdate.make" name="make" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-4">
          <span class="input-group-text" id="basic-addon1">Model</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="guitarToUpdate.model" name="model" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-4">
          <span class="input-group-text">Year</span>
        </div>
        <input type="number" class="form-control" id="year" name="year" min="1900" max="2023" [(ngModel)]="guitarToUpdate.year">
      </div>

      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-4">
          <span class="input-group-text">Color</span>
        </div>
        <input type="text" class="form-control" id="color" name="color" [(ngModel)]="guitarToUpdate.color">
      </div>

      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-4">
          <span class="input-group-text">Tuning</span>
        </div>
        <select class="form-control" name="tuning" [(ngModel)]="guitarToUpdate.tuning.id">
          <option [ngValue]="1" [selected]="guitarToUpdate.tuning.id === 1">E Standard</option>
          <option [ngValue]="2" [selected]="guitarToUpdate.tuning.id === 2">Eb Standard</option>
          <option [ngValue]="3" [selected]="guitarToUpdate.tuning.id === 3">D Standard</option>
          <option [ngValue]="4" [selected]="guitarToUpdate.tuning.id === 4">C# Standard</option>
        </select>
      </div>

      <div class="input-group mb-3 input-group-sm">
        <div class="input-group-prepend col-6">
          <span class="input-group-text">Scale length</span>
        </div>
        <select class="form-control" name="scaleLength" [(ngModel)]="guitarToUpdate.scaleLength">
          <option [ngValue]="24.75" [selected]="guitarToUpdate.scaleLength === 24.75">24.75"</option>
          <option [ngValue]="25.5" [selected]="guitarToUpdate.scaleLength === 25.5">25.5"</option>
        </select>
      </div>

		</form>
	</div>
  </div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="onUpdateClick()">Update</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Cancel clicked')">Cancel</button>
	</div>
</ng-template>

<a (click)="open(updateguitar)"><div [ngClass]="updateGuitarIcon()"></div></a>
