<div class="nav-bar">
  <ng-container *ngIf="!checkLogin()">
    <a><div class="home-icon-deselected"></div></a>
    <div class="setups-icon-deselected"></div>
    <app-login-register-modal></app-login-register-modal>
  </ng-container>
  <ng-container *ngIf="checkLogin()">
    <a [routerLink]="['/guitars']"><div [ngClass]="checkGuitarsView()"></div></a>
    <a [routerLink]="['/setups']"><div [ngClass]="checkSetupsView()"></div></a>
    <a href=""><div class="logout" (click)="logout()"></div></a>
  </ng-container>
</div>
