<div [ngClass]="guitarContainerCSS()">
  <div class="make-model">
    <h3>{{ guitar.make }} {{ guitar.model }}</h3>
  </div>
  <div class="guitar-image">
    <img [src]="guitar.picture" />
  </div>
  <div class="guitar-text">
    <h5 *ngIf="guitar.year">Year: <span>{{ guitar.year }}</span></h5>
    <h5 *ngIf="guitar.color">Color: <span>{{ guitar.color }}</span></h5>
    <h5 *ngIf="guitar.tuning.name">Tuned to: <span>{{ guitar.tuning.name }}</span></h5>
    <h5 *ngIf="guitar.scaleLength">Scale length: <span>{{ guitar.scaleLength }}</span></h5>
    <h5 *ngIf="guitar.numberOfFrets">Number of frets: <span>{{ guitar.numberOfFrets }}</span></h5>
    <h5 *ngIf="guitar.numberOfStrings">Number of strings: <span>{{ guitar.numberOfStrings }}</span></h5>
    <h5 *ngIf="guitar.purchasePrice">Purchase price: <span>{{ guitar.purchasePrice }}</span></h5>
    <h5 *ngIf="guitar.bridge">Bridge: <span>{{ guitar.bridge }}</span></h5>
    <h5 *ngIf="guitar.neckPickup">Bridge pickup: <span>{{ guitar.bridgePickup }}</span></h5>
    <h5 *ngIf="guitar.middlePickup">Middle pickup: <span>{{ guitar.middlePickup }}</span></h5>
    <h5 *ngIf="guitar.neckPickup">Neck pickup: <span>{{ guitar.neckPickup }}</span></h5>
    <h5 *ngIf="guitar.serialNumber">Serial number: <span>{{ guitar.serialNumber }}</span></h5>
  </div>
  <div class="image-icons"></div>
  <div class="detail-icons">
    <app-guitar-detail-icons [selectedGuitar]="guitar"></app-guitar-detail-icons>
  </div>
</div>

