<div class="site-container">
  <app-nav-bar></app-nav-bar>

  <div class="main-container">
      <div class="guitars-container">
          <div class="guitar-container">
          </div>
          <div class="guitar-container">
          </div>
          <div class="guitar-container">
          </div>
      </div>
      <div class="indicator-container">
        <div class="guitars-indicator">
          <p>Guitars</p>
        </div>
        <div class="indicator">
        </div>
        <div class="setups-indicator">
          <p>Setups</p>
        </div>
      </div>
  </div>
</div>
