@media (min-width: 320px) and (max-width: 480px) {
  .setup-top-nav-container {
    background-color: #995186;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .setup-top-nav-container {
    background-color: #995186;
    height: 10dvh;
    width: 100%;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .setup-top-nav-container {
    background-color: #995186;
    height: 10vh;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
}
